<div class="row">
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0"
				class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<%= image_tag("photo5.jpg", size: "665x450")%>	
				</div>
				
				<div class="item">
					<%= image_tag("photo4.JPG", size: "665x450")%>	
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel"
				data-slide="prev">&lsaquo;
			</a>
			<a class="carousel-control right" href="#myCarousel"
				data-slide="next">&rsaquo;
			</a>	
		</div>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<h3>Welcome to Elim Pentecostal Church</h3>
		<p>
			<%@info.each do |info|%>
				<%= info.title%>

			<% end %>
			This is a resting place in the Bible where the children of Israel rested after along journey in the desert, they found water and quenched their thirst and the praised the God almihty 
		</p>
		<H4>A word from the senior pastor</H4>
			<div class="media">
				<%= image_tag("photo3.JPG", size: "200x150", class: "media-object pull-left")%>
				<div class="media-body">
					<h4 class="media-heading">Knowing Jesus</h4>
					Phillipians 3:10 "To know him and the power of his resurrection and the fellowship of his sufferings"
				</div>
				
			</div>
			<select name="university" value="university">
					<option value="please select your service">please select your service</option>
					<option value="first service">first service</option>
					<option value="sunday xul">sunday xul</option>
					<option value="second service">second service</option>
				</select>
				
	</div>
</div>

<%@pages.each do |p|%>
	<p><%= p.title%></p>
	<p><%= p.category%></p>
	<p><%= p.description%></p>
<%end%>

<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	<%= image_tag("photo2.jpg", size: "200x150")%>
	<H4>Ms.Nabakooza Vicky</H4>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	<%= image_tag("photo1.jpeg", size: "200x150")%>
	<H4>Elder Maria Kiwanuka</H4>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	<%= image_tag("photo2.jpg", size: "200x150")%>
	<H4>Mrs. Senfuka</H4>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	<%= image_tag("photo1.jpeg", size: "200x150")%>
	<H4>Mr.Ndaula Herbert</H4>
	</div>
</div>